<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main>
        <form >
            <div>
                <label for="name">name</label>
                <input type="text" name="name"/>
            </div>
            <div>
                <label for="email">email</label>
                <input type="email" name="email"/>
                <h1><%= user.name %></h1>
                <h1><%= user.age %></h1>
                <h1><%= user.city %></h1>
            </div>
            <buttton type="submit"></buttton>
        </form>
    </main>
</body> 
</html>
    